body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  nav{
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #b1aba9 0%,#595956 100%);
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    
}
.main{
  margin-left: 7px;
  width: 99%;
  
}
.logo{
    flex: 20%;
    
}
.logo img{
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.nav-links{
 flex: 1; 
 text-align: right;
  
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    
    text-align: center;
    background-color:black;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .column2 {
    margin-left: 5%;
    float: left;
    width: 26%;
    margin-bottom: 16px;
    padding: 0 8px;
  }