body {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;
  color: white;
  position: relative;
  background-size: cover;
}
.main {
  position: sticky;
  top: 0%;
  width: 99%;
}
nav {
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #b1aba9 0%, #595956 100%);
  border-radius: 50px;
}
.logo {
  flex: 20%;
}
.logo img {
  width: 210px;
  height: 55px;
  margin-left: 10px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
#logout-button {
  background-color: silver;
  height: max-content;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#logout-button:hover {
  background-color: #f44336;
  color: white;
}
#username {
  padding-right: 25px;
}
.uil.uil-user {
  padding-right: 5px;
}
.question-container {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
}

#next-question-button {
  border: none;
  color: white;
  width: 180px;
  height: 35px;
  background: #ff6600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
}
#next-question-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#next-question-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#next-question-button:hover span {
  padding-right: 25px;
}

#next-question-button:hover span:after {
  opacity: 1;
  right: 0;
}
